@import url("https://fonts.googleapis.com/css2?family=Rubik Burned:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Linefont:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply antialiased;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
  }

  * {
    @apply scroll-smooth;
  }
}

@layer components {
  .icon-link {
    @apply p-2 rounded-lg transition-colors;
  }

  .body-text {
    @apply text-xl md:text-2xl text-stone-300 leading-relaxed;
  }

  .nav-link {
    @apply text-stone-300 hover:text-orange-400 transition-colors font-medium;
  }

  .experience-section-title {
    @apply text-sm font-semibold text-stone-200 tracking-wider mb-2;
  }

  .name-title {
    font-family: "Rubik Burned", serif;
  }

  .description-text {
    font-family: "Uchen", serif;
  }

  .lines-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  .lines {
    font-family: "Linefont", serif;
    font-weight: 200;
    white-space: nowrap;
    font-size: 2rem;
    line-height: 1.5;
  }

  @keyframes ticker {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@layer utilities {
  .grain-bg {
    position: relative;
  }

  .grain-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.5' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    pointer-events: none;
    z-index: 0;
  }

  .grain-bg > * {
    position: relative;
    z-index: 1;
  }

  /* TODO change to the right orange on hover */
  .icon-light {
    filter: brightness(0) saturate(100%) invert(89%) sepia(5%) saturate(365%)
      hue-rotate(178deg) brightness(93%) contrast(88%);
  }

  .icon-light:hover {
    filter: brightness(0) saturate(100%) invert(64%) sepia(79%) saturate(2574%)
      hue-rotate(338deg) brightness(101%) contrast(90%);
  }
}
