@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  * {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .grain-bg {
    position: relative;
  }

  .grain-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.5' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    pointer-events: none;
    z-index: 0;
  }

  .grain-bg > * {
    position: relative;
    z-index: 1;
  }

  .icon-light {
    filter: brightness(0) saturate(100%) invert(89%) sepia(5%) saturate(365%) hue-rotate(178deg) brightness(93%) contrast(88%);
  }

  .icon-light:hover {
    filter: brightness(0) saturate(100%) invert(64%) sepia(79%) saturate(2574%) hue-rotate(338deg) brightness(101%) contrast(90%);
  }
}
