@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Linefont:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap");

@import "tailwindcss";

@theme {
  --font-body: Merriweather, serif;
  --font-header: Shrikhand, serif;
  --font-cv: Fredoka, sans-serif;
  --font-lines: Linefont;

  --color-light-orange: #db991e;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility icon-link {
  @apply p-2 rounded-lg transition-colors;
}

@utility body-text {
  @apply text-lg text-stone-300 leading-relaxed;
}

@utility nav-link {
  @apply text-stone-300 hover:text-orange-400 transition-colors font-medium;
}

@utility experience-section-title {
  @apply text-sm font-semibold text-stone-200 tracking-wider mb-2;
}

@utility lines-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

@utility lines {
  font-family: "Linefont", serif;
  font-weight: 200;
  white-space: nowrap;
  font-size: 2rem;
  line-height: 1.5;
}

@utility grain-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.5' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    pointer-events: none;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }
}

@utility icon-light {
  filter: brightness(0) saturate(100%) invert(89%) sepia(5%) saturate(365%)
    hue-rotate(178deg) brightness(93%) contrast(88%);

  &:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(85%) saturate(2218%)
      hue-rotate(352deg) brightness(102%) contrast(97%);
  }
}

@layer base {
  html,
  body {
    @apply antialiased;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
  }

  * {
    @apply scroll-smooth;
  }
}

@layer components {
  @keyframes ticker {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
